@layer Base, Form, App;

@layer Base {
	:root {
		font-family: Arial, Helvetica, sans-serif
	}

	* {
		margin: 0;
		padding: 0;

		box-sizing: border-box;

		&:not(:where(html, body)) {
			font-family: inherit;
			font-size: inherit;
		}
	}
}

@layer Form {
	form {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		& > input[type="text"] {
			padding-inline: 1ch;
			padding-block: 0.5ch;
		}

		& > input[type="checkbox"] {
			align-self: start;
			margin-block-end: 0.5em;
		}

		& > select {
			padding: 0.25em;
		}

		& > button-set {
			display: flex;
			justify-content: space-between;
			margin-block-start: 1em;

			& > button {
				padding-inline: 2ch;
				padding-block: 0.3em;
				cursor: pointer;

				/* &[type="submit"] {
					border: 2px solid hsl(from var(--background-light) h s calc(l * .5));
				} */
			}
		}

		& > [data-or-divider] {
			margin-block: 0.5em;
			margin-inline: auto;
		}
	}
}

@layer App {
	:root {
		color-scheme: light dark;
		/* accent-color: rgb(174, 14, 214); */

		--background-lighter: light-dark(white, silver);
		--text-lighter: light-dark(black, black);

		--background-light: light-dark(grey, black);
		--text-light: light-dark(black, white);

		--grid-size: 10px;
		--grid-color: light-dark(
			oklab(0.53 0.09 -0.08),
			oklab(0.44 0.08 -0.08)
			);
		--grid-mark-color: light-dark(
			oklab(0.94 0.05 -0.03),
			oklab(0.73 0.09 -0.07)
			);

		--game-win-line: light-dark(
			oklab(0.47 0.18 -0.16),
			oklab(0.52 0.21 -0.17)
			);


		--background-toast: light-dark(
			oklab(0.65 0.29 -0.03),
			oklab(0.47 0.21 0.01)
		);
		--text-toast: light-dark(black, white);
	}

	[data-theme="plum"] {
		--background-light: light-dark(oklab(0.75 0.05 -0.04), oklab(0.28 0.09 -0.06));
		--text-light: light-dark(black, white);
		--background-lighter: light-dark(oklab(0.91 0.02 -0.03), oklab(0.4 0.07 -0.05));
		--text-lighter: light-dark(black, white);

		& > header {
			background-image: linear-gradient(to right, oklab(0.91 0.02 -0.03), oklab(0.94 0.05 -0.03));
			color: black;
		}
	}

	[data-theme="slate"] {
		--background-light: light-dark(oklab(0.95 0 -0.01), oklab(0.32 0.01 -0.04));
		--text-lighter: light-dark(black, white);
		--background-lighter: light-dark(oklab(0.92 0 -0.02), oklab(0.39 0.01 -0.05));
		--text-light: light-dark(black, white);

		& > header {
			background-image: linear-gradient(to right, oklab(0.64 0.05 -0.14), oklab(0.63 0.14 -0.05));
		}

		@media (min-width: 800px) {
			& aside {
				border-radius: 1em;
				margin-inline-start: 0.5em;
				margin-block-start: 1em;
				margin-block-end: 1em;
				height: auto;
				border: 1px solid #12121f;
				box-shadow: 1px 1px 5px 2px #0000005c;
			}
		}
	}


	html {

	}

	@font-face {
		font-family: 'Noto Emoji';
		font-display: swap;
		/* src: url('./Noto_Emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype'); */
		src: url('./Noto_Emoji/static/NotoEmoji-Bold.ttf') format('truetype');
	}

	i {
		font-display: swap;
		font-family: 'Noto Emoji', emoji;
		font-variant-emoji: text;
		font-weight: bold;
		font-style: normal;
	}

	img[data-icon] {
		display: inline flex;
		height: 1em;
		width: 1em;
		align-self: center;
	}


	body[data-logged-in] {
		& [data-not-logged-in] {
			display: none
		}
	}

	body:not([data-logged-in]) {
		& [data-logged-in] {
			display: none
		}
	}



	progress#GlobalProgress {
		/* width: calc(100% - 2em); */
    /* margin-inline: 1em; */
		/* margin-block: 0.25em; */

		width: 100%;
		height: 0.75em;
		margin-block-start: -1px;
		appearance: none;
		border: 0;


		background-color: oklab(from var(--background-light) calc(l * 1.25) a b);

		&::-webkit-progress-bar {
			background-color: oklab(from var(--background-light) calc(l * 1.25) a b);
		}

		&::-webkit-progress-value {
			transition: width 0.5s;
			background-color: hsl(from var(--background-light) h s calc(l * .5));
			/* background: hsl(from var(--background-light) h s calc(l * .5)); */
			border-radius: 0 1em 1em 0;
		}

		&::-moz-progress-bar {
			transition: width 0.5s;
			background: hsl(from var(--background-light) h s calc(l * .5));
			border-radius: 0 1em 1em 0;
		}
	}

	dialog {
		z-index: 10;

		max-height: calc(100vh - 4em);
		background-color: var(--background-lighter);
		color: var(--text-lighter);
		margin-block-start: -100%;
		transition: margin-block-start 500ms;
		margin-inline: auto;

		max-width: min(420px, 80vw);
		width: auto;

		box-shadow: 0px 0.5em 10px oklab(0 0 0 / 0.37);

		display: flex;
		gap: 1em;

		padding: 1em;
		flex-direction: column;

		& > span:first-child {
			font-size: 1.5em;
			font-weight: bold;
		}

		&[open] {
			/* display: flex; */
			margin-block-start: 2em;
		}

		&::backdrop {
			background-color: oklab(0 0 0 / 0.18);
			backdrop-filter: blur(10px);
		}

		& button {
			border: none;
			border-radius: 0.25em;
			color: inherit;
			border: 1px solid var(--background-light);
			background-color: var(--background-light);
			color: var(--text-light);
			padding-inline: 1em;
			padding-block: 0.5em;
			cursor: pointer;

			&:disabled {
				background-color: oklab(0 0 0 / 0.26);
				color: oklab(0.48 0 0);
			}

			&:not(:disabled):active {
				background-color: oklab(from var(--background-light) calc(l * 1.25) a b);
				transform: translateX(3px) translateY(3px);
			}

			&:has(i) {
				padding-inline: 1em 1.5em;
			}

			& > i {
				font-size: 1.5em;
			}

			@media (hover: hover) {
				&:not(:disabled):not(:active):hover {
					border: 1px solid var(--background-light);
					background-color: var(--background-lighter);
					color: var(--text-lighter);
				}
			}
		}
	}


	body {
		height: 100vh;
		display: flex;
		flex-direction: column;

		color: var(--text-light);
		background-color: var(--background-light);
	}

	body > header {
		display: flex;
		justify-content: space-between;

		font-size: 3em;
		/* font-weight: bold; */
		padding-inline: 1ch;
		padding-block: 0.25em;

		color: var(--text-lighter);
		background-color: var(--background-lighter);
		border-block-end: 1px solid var(--background-light);

		& > h1 {
			font-weight: inherit;
		}

		& > button-set {
			display: flex;
			gap: 0.25em;

			& > button {
				display: flex;
				color: inherit;
				background-color: inherit;
				border: none;
				border-radius: 0.25em;
				cursor: pointer;


				&:active {
					background-color: var(--background-light);
					transform: translateX(3px) translateY(3px);
				}

				@media (hover: hover) {
					&:hover {
						background-color: var(--background-light);
					}
				}
			}
		}
	}


	[data-chip-group] {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5em;
		justify-content: flex-start;
		/* margin-block-end: 1em; */
    /* margin-inline: 1em; */
		padding: 1em;
    background-color: #0000001a;

		& > input[type="checkbox"] {
			appearance: none;
		}

		& > label {
			border: 1px solid black;
			background-color: var(--background-lighter);
			color: var(--text-lighter);
			padding-inline: 1em;
      padding-block: 0.25em;
			border-radius: .75em;

			&:not(:disabled) {
				cursor: pointer;
			}
		}

		&:has(> #ListFilter-New:checked) label[for="ListFilter-New"] {
			background-color: var(--background-light);
			color: var(--text-light);
		}
		&:has(> #ListFilter-Pending:checked) label[for="ListFilter-Pending"] {
			background-color: var(--background-light);
			color: var(--text-light);
		}
		&:has(> #ListFilter-Active:checked) label[for="ListFilter-Active"] {
			background-color: var(--background-light);
			color: var(--text-light);
		}
		&:has(> #ListFilter-Resolved:checked) label[for="ListFilter-Resolved"] {
			background-color: var(--background-light);
			color: var(--text-light);
		}
	}

	details[data-filter-state] {

		/* &[open] {

		} */

		& > summary {
			/* list-style-type: '⬆ '; */
			/* list-style-type: '➡ '; */
			padding-block: 0.5em;
			padding-inline: 1em;
		}

		/* &[open] > summary {
			list-style-type: '⬇ ';
		} */
	}

	body[data-aside] aside {
		left: 0;
		background-color: var(--background-lighter);
		color: var(--text-lighter);
	}

	aside {
		z-index: 1;

		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: -100%;
		overflow-y: scroll;
		/* padding-inline: 1em; */
		padding-block: 2em;

		background-color: transparent;
		transition: left 300ms, background-color 300ms;

		& > [data-no-games-listed] {
			display: flex;
			justify-content: center;
			font-size: 1.5em;
			margin-block: 1em .5em;

		}

		&:has(ul#GamesListing > li) > [data-no-games-listed] {
			display: none;
		}

		& > header {
			display: flex;
			justify-content: space-between;
			margin-inline: 1ch 1em;
			margin-block-end: 1em;

			& > span {
				font-weight: bolder;
				font-size: 1.5em;
				text-transform: uppercase;
				align-self: center;
			}

			& > select {
				text-transform: uppercase;

				border: none;
				border-radius: 0.25em;
				color: inherit;
				border: 1px solid var(--background-light);
				background-color: var(--background-light);
				color: var(--text-light);
				padding-inline: 1em 1.5em;
				cursor: pointer;

				appearance: base-select;
				align-items: center;

				&::picker-icon {
					appearance: base-select;
					padding-inline-start: 1ch;
				}
			}

			& > button {
				display: flex;
				gap: 1ch;
				align-items: baseline;

				border: none;
				border-radius: 0.25em;
				color: inherit;
				border: 1px solid var(--background-light);
				background-color: var(--background-light);
				color: var(--text-light);
				padding-inline: 1em 1.5em;
				padding-block: 0.5em .75em;
				cursor: pointer;

				&:disabled {
					background-color: oklab(0 0 0 / 0.26);
					color: oklab(0.48 0 0);
				}

				&:not(:disabled):active {
					background-color: oklab(from var(--background-light) calc(l * 1.25) a b);
					transform: translateX(3px) translateY(3px);
				}

				& > i {
					font-size: 1.5em;
				}

				@media (hover: hover) {
					&:not(:disabled):not(:active):hover {
						border: 1px solid var(--background-light);
						background-color: var(--background-lighter);
						color: var(--text-lighter);
					}
				}
			}
		}
	}

	@media (min-width: 800px) {
		aside {
			position: unset;
			background-color: var(--background-lighter);
			color: var(--text-lighter);
			max-width: 40ch;
		}

		[data-aside-toggle] {
			display: none;
		}
	}

	ul#GamesListing {
		list-style: none;
		border-block-start: 1px solid var(--background-light);

		& > li {
			display: grid;
			grid-template-columns: 1fr min-content;
			grid-template-rows: 1fr 1fr;
			column-gap: 2em;
			row-gap: 0.5em;
			align-items: center;

			cursor: pointer;

			padding: 1em;
			border-block-end: 1px solid var(--background-light);


			&[data-active] {
				background-color: var(--background-light);
				color: var(--text-light);
			}

			& > header {
				overflow: hidden;
				display: flex;
				flex-direction: column;

				& > output {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				& > [data-game-subname] {
					font-size: 0.75em;
				}
			}

			& > i:has([data-game-owner]) {
				color: light-dark(oklab(0.49 0.02 0.11), oklab(0.69 0.03 0.15));
			}

			& > [data-game-has-update] {
				color: oklab(0 0 0 / 0.14);

				&[data-game-has-update="yes"] {
					color: oklab(0.62 -0.2 0.15);
				}
			}
		}
	}


	[data-toast] {
		display: flex;
		justify-content: space-between;

		padding-block: 1em;
		padding-inline: 1em;

		background-color: var(--background-toast);
		color: var(--text-toast);

		&:not([data-show]) {
			display: none;
		}

		& > output {
			margin-block: auto;
			margin-inline-end: 1em;
		}

		& > button {
			padding: 0.5em;
			background-color: var(--background-toast);
			color: var(--text-toast);
			border: none;
			cursor: pointer;
		}
	}



	main {
		position: relative;
		display: flex;
		height: 100%;
		overflow-y: scroll;

	}

	section {
		padding: 1em;
		width: 100%;
		height: 100%;
		overflow-y: scroll;

		& > [data-no-game-fields] {
			display: flex;
			justify-content: center;

			font-size: 1.5em;
			margin-block-start: 1em;
		}

		&:has(game-field) > [data-no-game-fields] {
			display: none;
		}
	}

	button-set[data-actions] {
		display: block flex;
		justify-content: center;
		gap: 1ch;
		/* margin-block-end: 2em; */

		& > button {
			cursor: pointer;

			padding-inline: 1ch;
			padding-block: 0.75em;

			border: 1px solid transparent;
			text-decoration: underline;
			border-radius: .25em;

			color: var(--text-lighter);
			background-color: var(--background-lighter);

			&[disabled] {
				display: none;
			}

			@media (hover: hover) {
				&:hover {
					background-color: var(--background-light);
					border: 1px solid var(--text-light);
				}
			}
		}
	}

	game-message {
		display: block flex;
		justify-content: center;
		margin-block: 1em;

		& > span:not([data-active]) {
			display: none
		}
	}

	game-field {
		display: flex;
		flex-direction: column;
		gap: 1em;

		&:not([data-active]) {
			display: none;
		}

		&:not([can-move]) game-board {
			pointer-events: none;
		}
	}

	game-board {
		font-size: 3em;
		margin: 0.25em;
		position: relative;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: var(--grid-size);
		margin-inline: auto;
		max-width: fit-content;

		background-color: var(--grid-color);

		& > button {
			cursor: pointer;
			color: var(--grid-mark-color);

			min-height: 1.5em;
			/* padding: 0.125em; */
			aspect-ratio: 1 / 1;
			border: none;

			/* color: var(--text-light); */
			background-color: var(--background-light);

			&:not([disabled]):hover {
				background-color: lavenderblush;
			}

			&:disabled {
				cursor: initial;
			}
		}

		&:where(:not([win-line]), [win-line=""]):after {
			display: none;
		}

		&[win-line="row0"]:after {
			transform: translateY(.5em) rotate(0deg);
		}

		&[win-line="row1"]:after {
			transform: translateY(2.25em) rotate(0deg);
		}

		&[win-line="row2"]:after {
			transform: translateY(3.85em) rotate(0deg);
		}

		&[win-line ^= "col"]:after {
			transform-origin: left;
			top: -0.25em;
		}

		&[win-line="col0"]:after {
			transform: translateX(0.75em) rotate(90deg);
		}

		&[win-line="col1"]:after {
			transform: translateX(2.5em) rotate(90deg);
		}

		&[win-line="col2"]:after {
			transform: translateX(4.125em) rotate(90deg);
		}

		&[win-line="forwardSlash"]:after {
			transform: translateX(0%) translateY(2.25em) rotate(-45deg);
		}

		&[win-line="backSlash"]:after {
			transform: translateX(0%) translateY(2.25em) rotate(45deg);
		}

		&:after {
			content: '';
			position: absolute;
			border: .25em solid var(--game-win-line);
			height: 0em;
			width: 100%;
			border-radius: 1em;
			transform-origin: center;
			/* transform: translateX(0%) translateY(2.25em) rotate(45deg); */
			box-sizing: border-box;
		}
	}
}
